.browse{
    .browse-logo{
        font-size: 33px;
        font-weight: 600;
        color: white;
    }
    .browse-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        .browse-itms{
            width: 153px;
            height: 210px;
            background-color:#3B3B3B;
            border-radius: 20px;
            margin: 20px auto;
            img{
                width: 100%;
            }
            .browse-p{
                color:  #FFFFFF;
                font-size: 20px;
                font-weight: 600;
                margin: 10px 20px;
            }
        }
    }
}
@media(min-width:940px){
    .browse{
        .browse-logo{
            font-size: 35px;
            font-weight: 600;
            color: white;
        }
        .browse-box{
            gap: 10px;
            .browse-itms{
                width: 190px;
                height: 250px;
                .browse-p{
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}
@media(min-width:1170px){
    .browse{
        .browse-logo{
            font-size: 35px;
            font-weight: 600;
            color: white;
        }
        .browse-box{
            gap: 20px;
            .browse-itms{
                width: 250px;
                height: 320px;
                .browse-p{
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }
    }
}